.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1140px) {
    .lead {
        width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 984px) {
    .lead {
        width: 100%;
    }
}